apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
    name: {{ .Release.Name }}-ingress
    namespace: {{ .Release.Namespace }}
spec:
    entryPoints:
      {{- range .Values.ingressRoute.entryPoints }}
      - {{ . }}
      {{- end }}
    routes:
      {{- if .Values.recipeService.enabled }}
      {{- range .Values.recipeService.routes }}
      - match: Host(`{{ $.Values.ingressRoute.host }}`) && PathPrefix(`{{ .path }}`)
        kind: Rule
        {{- if .priority }}
        priority: {{ .priority }}
        {{- end }}
        services:
          - name: {{ $.Release.Name }}-recipe
            port: {{ $.Values.recipeService.service.port }}
        {{- if .middlewares }}
        middlewares:
          {{- range .middlewares }}
          - name: {{ . }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- end }}
    tls:
      certResolver: {{ .Values.tls.certResolver }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-basic-auth
  namespace: {{ .Release.Namespace }}
spec:
  basicAuth:
    secret: basic-auth
